
:root{
    --primary-color:#4b208c;
    --section-color:#EAE6F5;
}
body{
    font-family: "Poppins", sans-serif;
}
#header{
    background: var(--section-color);
}
.menubar-item{
    margin-left: 1rem;
}
/* header style part start */
li.nav-item.nav-list {
    padding: 0px 10px;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 10px;   
    /* background-color: var(--primary-color); */
    transition: .2s ease-in-out;
    border-radius: 35px;
}
li:nth-child(1).nav-item.nav-list{ 
    background-color: var(--primary-color);
}
li.nav-item.nav-list:hover{
    background-color: var(--primary-color);
    color: white;
}
li.nav-item.nav-list:hover a{
    /* background-color: var(--primary-color); */
    color: white;
}


/* .nav-list a:hover{
    background-color: var(--primary-color);
} */
.logo{
    color:var(--primary-color) ;
    font-weight: 700;
    font-size: 22px;
    /* margin-right: 3rem; */
}
.logo img{
    margin-right: 10px;
    width: 35px;
}

/* header style part end */

/* service style part start */
.ser-content img{
    width:80px;
}
.ser-title h1{
    font-weight: 700;
}
.ser-content h5{
    color: var(--primary-color);
    font-weight: 600;
}
.ser-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 60px 34px;
    border-radius: 35px;
    margin-right: 20px;
}
.ser-content .img-box{
    height: 125px;
}
/* service style part end */


/* responsive media query */
@media (min-width: 992px) and (max-width: 1199px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 45% !important;
        /* margin-right:10px; */
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 45% !important;
        /* margin-right:10px; */
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 100% !important;
    }
}
