
:root{
    --primary-color:#4b208c;
    --section-color:#EAE6F5;
}
body{
    font-family: "Poppins", sans-serif;
}
#header{
    background: var(--section-color);
    height:37rem;
}
.menubar-item{
    margin-left: 1rem;
}
/* header style part start */
li.nav-item.nav-list {
    padding: 0px 10px;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 10px;   
    /* background-color: var(--primary-color); */
    transition: .2s ease-in-out;
    border-radius: 35px;
}
li:nth-child(1).nav-item.nav-list{ 
    background-color: var(--primary-color);
}
li.nav-item.nav-list:hover{
    background-color: var(--primary-color);
    color: white;
}
li.nav-item.nav-list:hover a{
    /* background-color: var(--primary-color); */
    color: white;
}


/* .nav-list a:hover{
    background-color: var(--primary-color);
} */
.logo{
    color:var(--primary-color) ;
    font-weight: 700;
    font-size: 22px;
    margin-right: 3rem;
}
.logo img{
    margin-right: 10px;
    width: 35px;
}

/* header style part end */

/* ====== Start hero Section ======= */

.hero_title {
    margin-top: 1rem;
    font-weight: 700;
    padding-right: 15rem;
}
.hero_subtitle {
    margin-top: 20px;
    padding-right: 6rem;
}

.hero_contact {
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--primary-color);
    border-radius: 35px;
    margin-top: 35px;
    margin-bottom: 2rem;
}
.hero_contact:hover {
   
    background-color: #5a1eb5 !important;
    transition: 0.5s ease-in-out;
    
}
.hero_slider{
    width: 24rem;
    border: 7px solid #7b57b2;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;
}
.btn_next{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: -134px;
    position: absolute;
    margin-left: 16.2rem;
    background-color: var(--primary-color);
    border: none;
    color: aliceblue;
}
.btn_prev{
    width: 45px;
    height: 45px;
    margin-top: -107px;
    position: absolute;
    border-radius: 50%;
    margin-left: 13.5rem;
    background: aliceblue;
    color: #000000;
    border: none;
}
/* ====== End hero Section ======= */


/* service style part start */
.ser-content img{
    width:80px;
}
.ser-title h1{
    font-weight: 700;
}
.ser-content h5{
    color: var(--primary-color);
    font-weight: 600;
}
.ser-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 60px 34px;
    border-radius: 35px;
    margin-right: 20px;
}
.ser-content .img-box{
    height: 125px;
}
/* service style part end */


/* responsive media query */
@media (min-width: 992px) and (max-width: 1199px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 45% !important;
        /* margin-right:10px; */
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 45% !important;
        /* margin-right:10px; */
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .ser-content{
        display: flex;
        justify-content: space-between;
    }
    .ser-box{
        width: 100% !important;
    }
}